@model LoginModel

<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kayıt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/admin-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin-assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/admin-assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/admin-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/admin-assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/admin-assets/css/typography.css">
    <link rel="stylesheet" href="~/admin-assets/css/default-css.css">
    <link rel="stylesheet" href="~/admin-assets/css/styles.css">
    <link rel="stylesheet" href="~/admin-assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form asp-controller="Account" asp-action="Login" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="login-form-head">
                        <h4>Giriş</h4>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <input type="text" asp-for="UserName" id="exampleInputEmail1">
                            <div asp-validation-for="UserName" class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
                            <div asp-validation-for="Password" class="text-danger"></div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">GİRİŞ <i class="ti-arrow-right"></i></button>
                            <div class="login-other row mt-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
    <!-- jquery latest version -->
    <script src="~/admin-assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/admin-assets/js/popper.min.js"></script>
    <script src="~/admin-assets/js/bootstrap.min.js"></script>
    <script src="~/admin-assets/js/owl.carousel.min.js"></script>
    <script src="~/admin-assets/js/metisMenu.min.js"></script>
    <script src="~/admin-assets//js/jquery.slimscroll.min.js"></script>
    <script src="~/admin-assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="~/admin-assets/js/plugins.js"></script>
    <script src="~/admin-assets/js/scripts.js"></script>
</body>

</html>