
@model List<Category>
@foreach (var item in Model)
{
<li>
    <a asp-controller="Home"
       asp-action="ArticleList"
       asp-route-category="@item.Url" class="@(ViewBag.SelectedCategory == item.Url?"active":"")"><img src="@item.Image" alt=""> @item.Tittle</a>
</li>}
