@model Activities

<div class="single_study text-center">
    <div class="thumb" style="display: block">
        <a style="display: block">
            <img src="~/img/@Model.Image" alt="">

        </a>
    </div>
    <div class="subheading">
        <h4>@Model.Tittle</h4>
        <p style="padding-left: 20px; padding-right: 20px">@Model.Description</p>
    </div>
    @*<a asp-controller="home" asp-action="ActivitiesDetails" asp-route-detail="@Model.Url"><h4 style="color:black">İçerik</h4></a>*@

</div>
           