<header style="background: #081b30; color: white">
    <div class="container">
        <a class="logo" href="index.html"><img src="" alt="Logo"></a>
        <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5 mobile-menu">
            <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                <li><a style="color: white" class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a style="color: white" href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a style="color: white" href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
            <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
                <li><a style="color: white" class="pl-0 pl-sm-10" href="#">halic.edu.tr</a></li>
                <li><a style="color: white" href="#">İletişim</a></li>
            </ul>
        </div>
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon" style="float:right"></i></a>

        <ul style="background-color: #081b30" class="main-menu" id="main-menu">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">GÜNCEL</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ArticleList">YAYINLAR</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="NewsList">HABERLER</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AuthorList">YAZARLAR</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Video">HALİÇ TV</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</header>