<section class="hero set-bg" data-setbg="/img/makale.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <div class="hero__search__form">
                        <form action="/search">
                            <input style="float: none" name="q" type="text" placeholder="Search...">
                            <button type="submit">Sorgula</button>
                        </form>
                    </div>
                    <ul class="hero__categories__tags">
                        @await Component.InvokeAsync("Categories")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>