@model VideoListViewModel
@await Html.PartialAsync("_Header")
<section class="videos spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @await Component.InvokeAsync("VideoFirst")

                <div class="row">
                    <div class="videos__slider owl-carousel">
                        @foreach (var item in Model.Videos)
                        {
            @await Html.PartialAsync("_VideoList", item)}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-body">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_Footer")